@import url(./root.css);
@import url(./element.css);
#app {
  max-width: 100vw;
  max-height: 100vh;
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--v-m-bgc);
  color:var(--v-m-text-color);
}
a {
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
} 
li {
  list-style: none;
}
::-webkit-scrollbar {
  display: none;
}
