.el-popover {
  background-color: rgb(54, 54, 54) !important;
  border: none !important;
  box-shadow: 1px 1px 0px 1px #000 !important;
}
.el-collapse,.el-collapse-item__wrap {
  border: none;
}
.el-table--enable-row-hover .el-table__body tr:hover>td {

  background-color: var(--v-m-hover-bgc) !important;

}
.el-table::before {
  background-color: transparent;
}