:root {
  --v-m-bgc:rgb(43, 43, 43);
  --v-m-hover-bgc:rgb(66, 66, 66);
  --v-m-text-dark-color:rgb(124,124,124);
  --v-m-text-color:rgb(215,215,215);
  --v-m-text-active-color:rgb(255,255,255);
  --v-m-dark-border-color:rgb(75, 75, 75);
}